<div class="homepage_flex"</div>
  <!-- Loop over each object in the games array -->
  {{#each games as |game| }}
  <div class="card-complete"><!-- card holder-->
    <div class=""> <!--image holder-->
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        <img class="" src="{{game.img_url}}" alt="{{game.description}}"> <!-- you only add this alt text and description it exists -->
    </div>
    <p class ="">{{game.name}}</p> <!-- this name is whatever is being sent from the back end, could be "title", could be whatever-->
  </div>
  {{/each}}
</div>


